.wrapper {
    position: absolute;
    right: 25px;
    top: 25px;
}

button {
    background-color: white;
    border: 1px solid black;
    margin: 0px;
    font-size: 1em;
    padding: 10px 15px;
}

#go {
    font-size: 2em;
}

.pg-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.row {
    flex-grow: 1;
    flex-basis: 49.5%;
    height: 100vh;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

p {
    line-height: 150%;
    margin: 20px 10%;
    text-indent: 25px
}

iframe {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 450px;
    height: 260px;
}