h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 15px 0 10px 0;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.content {
    margin-top: 0;
}

#instructions {
    z-index: 100;
    position: absolute;
    left: 50px;
    width: 20%;
}

canvas {
    margin-top: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
}

#set-wave {
    position: absolute;
    right: 50px;
    width: 20%;
    z-index: 100;
}


button {
    background-color: white;
    border: 1px solid black;
    margin: 0px;
    font-size: 1em;
    padding: 10px 15px;
}

#go {
    font-size: 2em;
}


#sine-waves {
    position: absolute;
    top: 485px;
    z-index: 50;
}

#waves {
    height: 240px;
    background-color: #2196F3;
    z-index: 50;
}

#amplitude-tag {
    position: absolute;
    z-index: 150;
    top: 90px;
    left: 10px;
}

#wavelength-tag {
    position: absolute;
    margin: auto;
    left: 650px;
    right: 0;
    top: 210px;
    color: #000;
    z-index: 150;
}