.pg-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
}

#wave-height {
    position: absolute;
    z-index: 120;
}

h1, h3 {
    text-align: center;
}

.col {
    padding: 0;
    text-align: left;
    flex-grow: 1;
    flex-basis: 49%;
}

img {
    width: 50%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.overlay {
    background-color: #2196F3;
    /*height: 200px;*/
    opacity: 0.3;
    width: 50%;
    z-index: 100;
    bottom: 0;
    position: absolute;
}

h1 {
    margin: 20px 12.5%;
    line-height: 200%;
}

table {
    text-align: center;
    border: 1px solid black;
    margin: auto;
}

tr {
    text-align: center;
    border: 1px solid black;
}

td {
    text-align: center;
    border: 1px solid black;
}

#sine-waves {
    position: absolute;
    top: 485px;
    z-index: 50;
}

#waves {
    height: 240px;
    background-color: #2196F3;
    z-index: 50;
}

.wrapper {
    margin: 20px 12.5%;
    text-align: center;
    z-index: 150;
}

.home {
    background-color: white;
    border: 1px solid black;
    margin: 0px;
    padding: 10px 15px;
    font-size: 1.4em;
    z-index: 150;
}

#amplitude-tag {
    position: absolute;
    z-index: 150;
    top: 90px;
    left: 10px;
}

#wavelength-tag {
    position: absolute;
    margin: auto;
    left: 320px;
    right: 0;
    top: 210px;
    color: #000;
    z-index: 150;
}
